################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NET Course/.vs/NET Course
/NET Course/NET Course/obj/Debug
